.video-react.video-react-fluid, .video-react.video-react-16-9, .video-react.video-react-4-3 {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

.learning-space{
    display: flex;
}

.content-wrapper{
    direction: inherit;
    box-sizing: border-box!important;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    visibility: visible;
}

.video-wrapper{
    height: 582px;
    background-color: black;
    padding: 0 15%;
    margin: auto; 
}

.video-wrapper i {
    
    color:rgb(251, 253, 130) ;
}

.comment-wrapper{
    width: 100%;
    position: relative;
    padding: 0 17%;
}

.comment-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.comment-wrapper h4 {
    font-size: 1.2rem;
    font-weight: 550;
    margin: 20px auto 0 0;
}

.share-box{
    display: flex;
    align-items: center;
}

.playlist-wrapper{
    /* position: fixed;
    top: 0;
    right: 0;
    bottom: 0; */
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
}

.playlist-header{
    margin-bottom: 30px;
}

.playlist-header i {
    float: right;
}