.course-info-wrapper{
    height: 55%;
    background-color:#f0f0f0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.course-info-container{
    width: 80%;
    height: 100%;
}

.course-info-img{
    height: 100%;
    width: 99%;
    max-height: 420px;
}

.course-info{
    height: max-content;
}

.course-info h2{
   font-size: 36px;
   font-weight: 700;
}

.course-info h4{
    font-size: 30px;
    font-weight: 550;
    color: seagreen;
 }

.course-info span{
    font-size: 25px;
    font-weight: 400;
 }

.btn-enroll{
    width: 200px;
    height: 50px;
    background-color: #04aa6d;
    color: white;
    line-height: 21px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
}

.course-detail-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.course-detail-container{
    width: 80%;
}

.course-detail{
    color: #000;
}

.course-deatail span{
    color: #000;
    font-size: 1.2rem;
}

.course-component{
    margin-bottom: 5px;
}

.course-component-container{
    width: 60%;
}

.course-component-title{
    background-color: #f2f2f2;
    padding: 8px;
    border: #e6e6e6 1px solid;
    border-radius: 5px;
}

.course-component-item{
    padding: 0 16px 0 48px;
    /* line-height: 1.6; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 48px;
    border-bottom:#e6e6e6 1px solid;
}

.course-detail-sub-title{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.course-detail-sub-content{
    font-size: 14px;
    font-weight: 400;
}

.course-info-detail{
    display: flex;
    flex-direction: row;
}