.navbar-container{
  /* background-color: #cdffcd; */
  border-bottom: gainsboro 1px solid;
  padding-left: 5%;
}

.navbar-wrapper{
  /* width: 75%; */
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__logo {
  height: 80px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  z-index: 10;
}

.navbar__logo > img {

  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  height: 100%;
}

.naVbar__item {
  padding: 0 5px;
}

.naVbar__item-inner {
  padding: 28px 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.25s ease 0.1s;
}

.naVbar__item-inner > i {
  margin-right: 5px;
  font-size: 1.5rem;
}

.naVbar__item-inner > span {
  text-transform: capitalize;
}

.naVbar__item-inner:hover {
  color: var(--main-color);
}

.naVbar__item-inner.active {
  border-radius: 5px;
  background-image: linear-gradient(
      to right,
      var(--main-color),
      var(--second-color)
  );
  color: var(--txt-white);
}

.navbar__right{
  display: flex;
  align-items: center;
}

.navbar__right-item{
  position: absolute;
  right: 70px;
}

.navbar__right-item ~ .navbar__right-item {
  margin-right: -50px;
}
